<div class="config-card">
  <h2 class="config-title">Configuración</h2>
  <p class="config-subtitle">Personaliza tu experiencia</p>

  <!-- MODO OSCURO -->
  <div class="config-item">
    <div class="config-info">
      <i
        class="fa-solid"
        [class.fa-sun]="!config.modoNoche"
        [class.fa-moon]="config.modoNoche"
      ></i>

      <div>
        <strong>Modo oscuro</strong>
        <span>Reduce el brillo de la interfaz</span>
      </div>
    </div>

    <label class="switch theme-switch">
      <input
        type="checkbox"
        [(ngModel)]="config.modoNoche"
        (change)="update()"
      />

      <span class="slider">
        <!-- SOL -->
        <svg class="icon sun" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="5" fill="#f59e0b" />
          <g stroke="#f59e0b" stroke-width="2">
            <line x1="12" y1="1" x2="12" y2="4" />
            <line x1="12" y1="20" x2="12" y2="23" />
            <line x1="4.2" y1="4.2" x2="6.5" y2="6.5" />
            <line x1="17.5" y1="17.5" x2="19.8" y2="19.8" />
            <line x1="1" y1="12" x2="4" y2="12" />
            <line x1="20" y1="12" x2="23" y2="12" />
            <line x1="4.2" y1="19.8" x2="6.5" y2="17.5" />
            <line x1="17.5" y1="6.5" x2="19.8" y2="4.2" />
          </g>
        </svg>

        <!-- LUNA -->
        <svg class="icon moon" viewBox="0 0 24 24">
          <path
            fill="#cbd5e1"
            d="M21 12.8A9 9 0 1 1 11.2 3
              7 7 0 0 0 21 12.8z"
          />
        </svg>
      </span>
    </label>
  </div>

  <!-- DALTONISMO -->
  <div class="config-item">
    <div class="config-info">
      <i class="fa-solid fa-eye"></i>

      <div>
        <strong>Modo daltonismo</strong>
        <span>Mejora el contraste de colores</span>
      </div>
    </div>

    <label class="switch">
      <input
        type="checkbox"
        [(ngModel)]="config.daltonismo"
        (change)="update()"
      />
      <span class="slider"></span>
    </label>
  </div>

  <!-- TAMAÑO DE FUENTE -->
  <div class="config-item column">
    <div class="config-info">
      <i class="fa-solid fa-text-height"></i>

      <div>
        <strong>Tamaño de fuente</strong>
        <span>{{ config.fontSize }} px</span>
      </div>
    </div>

    <input
      type="range"
      min="14"
      max="22"
      [(ngModel)]="config.fontSize"
      (change)="update()"
    />
  </div>
</div>
