    
<app-nav></app-nav>
    <header class="interfaz">
        <h1>"La seguridad vial empieza contigo. <br> 
            Reporta, participa, mejora tu ciudad."</h1>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar...">
            <i class="fas fa-search search-icon"></i>
        </div>        
    </header>
    <div class="container">
    <div class="title">Módulos y Servicios</div>
    <div class="modules">
        
        <a routerLink="subirReporte.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-camera"></i>
                </div>
                <div class="text">Foto Multas</div>
            </div>
        </a>

        <a routerLink="multas.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-file"></i>
                </div>
                <div class="text">Multas</div>
            </div>
        </a>

        <a routerLink="pico-y-placa.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-car"></i>
                </div>
                <div class="text">Consulta del <br>Pico y Placa</div>
            </div>
        </a>

        <a routerLink="parkin.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <span class="bx" style="font-size: 24px; font-weight: bold;">PAR</span>
                </div>
                <div class="text">Localización de <br> Parqueaderos</div>
            </div>
        </a>
    </div>
</div>