.navbar {
    display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    gap: 32px;
    padding: 0 24px;
    background-color: white;
    border-bottom: 4px solid; 
    border-image: linear-gradient(to right, #FFD700 33.33%, #0033A0 33.33% 66.66%, #CE1126 66.66%) 1;
    z-index: 1002;
}


.logo {
    width: 70px;
}

.logo img {
    max-width: 100%;
    border-radius: 47%;
    cursor: pointer;
}

.menu-and-logo {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu-buttons-group {
    display: flex;
    gap: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(119, 116, 116);
    font-size: 14px;
    padding: 6px 12px;
}

.menu-item.active,
.menu-item:hover {
    background: rgb(237, 234, 234);
    color: black;
    border-radius: 20px;
}

.menu-item i {
    margin-left: 4px;
    transition: transform 0.4s ease;
}

.menu-item:hover i {
    transform: rotate(180deg);
}

.menu-item-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 26px;
    border-radius: 8px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-item-container:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown-section {
    margin-bottom: 10px;
}

.dropdown-section h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.dropdown-section p {
    font-size: 0.9em;
    color: #666;
    margin: 2px 0;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.button {
    border: 1px solid #bbb7b7;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px;
    cursor: pointer;
}

.button-login {
    color: #333;
    background-color: transparent;
}

.button-login:hover {
    background: rgb(220, 217, 217);
}

.button-signup {
    color: #fff;
    background-color: black;
}

.button-signup:hover {
    background: rgb(53, 50, 50);
}
