<app-nav></app-nav>

<div class="container-todo">
  <div class="container-login">
    <div class="left">
      <h1>REPÓRTELO YA!</h1>
      <p>Accede a tu cuenta</p>

<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

  <label for="rol">Tipo de usuario</label>
  <div class="input-group">
    <i class="fa-solid fa-user-shield"></i>
    <select id="rol" formControlName="rol" required>
      <option value="" disabled>Selecciona tu rol</option>
      <option value="ciudadano">Ciudadano</option>
      <option value="agente">Agente de Tránsito</option>
      <option value="administrador">administrador</option>
    </select>
  </div>

  <label for="emailLogin">Correo electrónico</label>
  <div class="input-group">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" id="emailLogin"
      placeholder="correo@ejemplo.com"
      formControlName="email" required />
  </div>

  <label for="passwordLogin">Contraseña</label>
  <div class="input-group">
    <i class="fa-solid fa-lock"></i>
    <input type="password" id="passwordLogin"
      placeholder="********"
      formControlName="password" required />
  </div>

  <a class="recuperar" routerLink="/recuperar">
    ¿Olvidaste tu Contraseña?
  </a>

  <button type="submit" class="btn">
    Iniciar Sesión <i class="fa-solid fa-arrow-right-to-bracket"></i>
  </button>

</form>

      
    

      <div class="register-link">
        ¿Aún no tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </div>
    </div>

    <div class="right">
      <img class="logo" src="assets/images/LogoNuevo2.png" alt="Logo Repórtelo Ya" />
      <h2>¡Bienvenido a Reportelo Ya!</h2>
      <p>¡Haz parte del cambio! Reporta y ayuda a tener una ciudad más segura.</p>
    </div>
  </div>
</div>